/* ปุ่ม toggle Geoman */
.geo-toggle {
  position: absolute;
  top: 77px;
  left: 3px;  
  z-index: 1001;  /* ให้แน่ใจว่าทับ zoom control */
  padding: 8px 0px;
  font-size: 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

#geoBtn.geoman-toggle {
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 1001;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 18px;
  cursor: pointer;
  transition: left 0.3s ease;
}

/* Toolbar เริ่มต้น (ซ่อน) */
.leaflet-pm-toolbar {
  transform: translateX(-200px); /* ซ่อนไว้นอกจอด้านซ้าย */
  /* transform: translateY(-100%); /* ซ่อนอยู่เหนือขอบ */
  transition: transform 0.3s ease;
  z-index: 1000;
}


/* แสดง Toolbar แบบเลื่อนออก */
.leaflet-pm-toolbar.show {
  transform: translateX(0);
}

/* ขยับปุ่มไปทางขวาเมื่อ Toolbar แสดง */
#geoBtn.move-right {
  left: 210px; /* พอเหมาะกับความกว้างของ toolbar */
}
